body {
  font-family: "helvetica", sans-serif;
  text-align: center;
  background-color: #E1E8ED !important;
}

/* input[type=button], input[type=submit], input[type=reset], button{
  background-color: #E1E8ED;
  border-radius: 12%;
  color: #14171A;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
} */

#header{
  background-color: #14171A;
  border: #14171A;
  padding-left: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  
}

.tweet{
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-weight: bold;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  padding: 2%;
  margin-bottom: 5%;
  background-color: #d1d3d4;
}

/* CSS */
.button-21, input[type=button], input[type=submit], input[type=reset], button {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin: 1%;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.corner {
  line-height: 12px;
  width: 18px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
}

#profile{

  width: 90%;
  border: none;
  border-radius: 15px;
  padding: 8px;
  background-color: #fff;
  position: relative;
  height: 370px;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .card {
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-right: 2%;
  margin-bottom: 2%;
}

.title {
  color: grey;
  font-size: 18px;
}

